header {
    padding-top: 30px;
    padding-right: auto;
    padding-bottom: 10px;
    padding-left: 30px;
    background-color: #CFFA6A;
}

p {
    color: black;
    text-align: center;
}

section header h2 {
  text-align: center;
  font-size: 1em;
}

header h1 {
  font-size: 1.2em;
}

.purple {
  text-decoration: underline;
  color: purple;
}

body {
  background-color: #956AFA;
}

#introduction{
  background-color: #CFFA6A;
  box-shadow: none;
}

aside {
  background-color: #CFFA6A;
}

aside section {
  background-color: #CFFA6A;
}

ul {
  text-align: center;
}

li {
  list-style-type: none;
}